layers = <SCROLL>;
input-processors =
<&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            //スクロール方向を逆転
            //スクロール方向を逆転,
<&zip_xy_to_scroll_mapper>;
};
};
@@ -123,10 +123,10 @@

default_layer {
bindings = <
&kp Q          &kp W         &kp E               &kp R    &kp T                                      &kp Y        &kp U  &kp I                &kp O          &kp P
&kp A          &kp S         &kp D               &kp F    &kp G                                      &kp H        &kp J  &kp K                &kp L          &lt 5 MINUS
&kp Z          &kp X         &kp C               &kp V    &kp B                                      &kp N        &kp M  &kp COMMA            &kp DOT        &mt RIGHT_SHIFT BACKSPACE
&mt LCTRL ESC  &kp LEFT_WIN  &mt LEFT_ALT GRAVE  &kp INS  &lt 5 ENTER  &lt 2 TAB    &lt 2 BACKSPACE  &lt 4 SPACE         &lt 6 RIGHT_BRACKET  &kp BACKSLASH  &mt RIGHT_SHIFT SLASH
&kp Q          &kp W             &kp E               &kp R           &kp T                                         &kp Y          &kp U  &kp I                &kp O            &kp P
&kp A          &kp S             &kp D               &kp F           &kp G                                         &kp H          &kp J  &kp K                &kp L            &lt 5 MINUS
&kp Z          &kp X             &kp C               &kp V           &kp B                                         &kp N          &kp M  &kp COMMA            &kp DOT          &mt RIGHT_SHIFT BACKSPACE
&mt LCTRL ESC  &kp LEFT_CONTROL  &mt LEFT_ALT GRAVE  &kp LEFT_SHIFT  &kp LEFT_COMMAND  &lt 3 SPACE    &lt 2 ENTER  &kp RIGHT_ALT         &lt 6 RIGHT_BRACKET  &lt 1 BACKSLASH  &mt RIGHT_SHIFT SLASH
>;

sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
@@ -160,10 +160,10 @@

CURSOR {
bindings = <
&trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &trans                       &kp KP_MULTIPLY  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp KP_PLUS
&trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                       &kp KP_SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                       &kp UNDER        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans    &trans                  &trans        &trans                   &trans  &trans    &kp ENTER  &kp NUMBER_0                   &kp DOT       &kp ENTER     &kp QUESTION
&trans    &kp LC(LG(LEFT_ARROW))  &kp UP_ARROW  &kp LC(LG(RIGHT_ARROW))  &kp F12                       &kp PLUS      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp LS(LG(PRINTSCREEN))
&trans    &kp LEFT_ARROW          &kp DOWN      &kp RIGHT_ARROW          &trans                        &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp KP_MINUS
&kp HOME  &kp PAGE_DOWN           &kp END       &kp PAGE_UP              &trans                        &kp EQUAL     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans    &trans                  &trans        &trans                   &trans   &trans    &kp ENTER  &kp NUMBER_0                &kp DOT       &kp ENTER     &kp QUESTION
>;
};
